@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Warframe Assistant</h1>
    <p> Warframe assistant that aims to help the farm be a little bit easier.</p>
</div>
